.center {
  display: flex;
  justify-content: center;
}

.largura {
  width: 100%
}
  
.img {
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}

.desc_agencia {
  background-color: white;
  width: 400px;
  height: 400px;
  position: relative;
  top: 300px;
  right: -200px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  font-family: 'Raleway', sans-serif;
}

#ranking, #rates {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
}
