a:hover {
  background-color: none !important;
}

main {
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  padding-top: 100px;
}

.login {
  width: 500px;
  background-color: white;
  margin: auto;
}

h5 {
  background-color: #4527a0;
  padding: 15px;
  padding-left: 25px;
  color: white;
  width: 100%;
  height: 50px;
  font-size: 20px;
  margin-top: 0;
}

.conteudoInterno {
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

.row {
  margin-bottom: 0;
  margin-top: 20px;
}

.espacamento {
  text-align: center;
}

.semConta {
  font-size: 13px;
  margin-top: 15px;
  color: #4527a0;
  font-weight: bold;
}

/* MEDIA QUERY */

/* CELULAR DE PÉ */

@media screen and (max-width: 450px) {
  main {
      padding-top: 100px;
  }

  .login {
      width: 350px;
      height: 360px;
  }

}

/* CELULAR DEITADO */

@media screen and (min-width: 451px) and (max-width: 700px) {
  main {
      padding-top: 100px;
  }

  .login {
      width: 450px;
      height: 360px;
  }

}


/* TABLET DE PÉ */
@media screen and (min-width: 700px) and (max-width: 960px) {
  main {
      padding-top: 100px;
  }

  .login {
      width: 450px;
      height: 350px;
  }

}
