main {
  background-attachment: fixed;
  background-size: cover;
  padding-top: 50px;
}

.forms {
  width: 100%;
  padding: 25px;

}

h5 {
  background-color: #4527a0;
  padding: 15px;
  padding-left: 25px;
  color: white;
  width: 100%;
  height: 50px;
  font-size: 20px;
  margin-top: 0;
  opacity: 0.9;
}

#mainContainer {
  height: auto;
  width: 800px;
  margin: auto;
  background-color: rgba(255, 255, 255);
}

textarea {
  resize: none;
  height: 125px;
}

.btn-area {
  text-align: right;
}

label#thumbnail {
  margin-bottom: 20px;
  border: 1px dashed #ddd;
  background-size: cover;
  cursor: pointer;
  height: 160px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

label#thumbnail input {
  display: none;
}

label#thumbnail.has-thumbnail {
  border: 0;
}

label#thumbnail.has-thumbnail img {
  display: none;
}
