.main-container {
  width: 900px;
  background-color: white;
  margin: auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.rate-space {
  text-align: center;
  width: 100%;
  margin-top: -10px;
  padding-top: 12.5px;
  display: inline-block;
}

.title {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;
  margin-bottom: 5px;
}
