.fl {
  float: left;
}

.cls {
  clear: both;
}

p {
  margin: 0;
  padding: 0;
}

div#main-chat {
  height: calc(100vh - 80px);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.contact-list {
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: #ede7f6 ;
  border-right: 3px solid white;
  display: flex;
  flex-direction: column;
}

.contatinho {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: thin solid white;
  border-bottom: thin solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.contatinho {
  color: #000!important;
}

.contatinho:first-child {
  border-top: initial;
}

.contatinho:last-child {
  padding-bottom: 0;
  border-bottom: initial;
}

.unseenMessages {
  border-radius: 50%;
  background-color: #673ab7;
  width: 30px!important;
  height: 30px!important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

.contatinho:hover {
  background-color: rgb(217, 206, 221);
}

.middle-part {
  background-color: white;
  border-bottom: 3px solid #ede7f6;
  display: grid;
  grid-template-rows: 80px calc(100% - 160px) 80px;
  height: calc(100vh - 80px);
}

.person-tab {
  padding-top: 10.5px;
  padding-left: 10px;
  background-color:  #ede7f6;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.little-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.little-img:hover {
  cursor: pointer;
}

.listener-letter {
  font-weight: bold;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.status {
  color: gray;
  font-size: 15px;
}

#area-chat {
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  scroll-behavior: smooth;
  height: 100%;
  padding: 10px 0;
}

.other-ballon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.other-ballon p {
  min-height: 50px;
  height: auto;
  min-width: auto !important;
  max-width: 75%;
  background-color: rgba(209, 196, 233, 0.55);
  color: black;
  text-align: left;
  margin-left: 5px;
  padding: 10px;
  border-radius: 0.4em;
  margin-top: 5px;
}

.my-ballon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.my-ballon p {
  margin-top: 5px;
  min-height: 35px;
  height: auto;
  min-width: auto !important;
  max-width: 75%;
  background-color: #673ab7;
  color: white;
  text-align: justify;
  margin-right: 5px;
  padding: 10px;
  border-radius: 0.4em;
}

.btn-attachment {
  margin-left: 0px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
}

.anexo {
  font-size: 25px;
  color: white;
}

.menu-chat {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color:  #ede7f6;
}

.menu-chat input {
  width: auto;
  color: #000;
  display: block;
  margin-left: 10px!important;
  margin-right: 10px!important;
}

.menu-chat input::placeholder {
  color: #000!important;
}

.type-msg {
  resize: none;
  background-color: white;
  border: 3px solid white;
  font-size: 13.5px;
  height: 60px;
}

.send {
  font-size: 25px;
  color: white;
}

.btn-send {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
}

.user-big-area {
  padding-top: 25px;
  border-left: 3px solid white;
  text-align: center;
  background-color: #ede7f6;
}

.big-user-photo {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.username {
  font-size: 25px;
  font-weight: bold;
}

#release {
  border-radius: 4px;
  border: initial;
  background-color: rgb(10, 223, 39);
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 10px;
}

#release:hover {
  cursor: pointer;
}

#alreadyBought {
  border-radius: 4px;
  border: initial;
  background-color: #ddd;
  color: #000;
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 10px;
}

#email {
  padding: 10px;
  font-size: 18px;
}
