.ab {
  float: left;
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
}  

.fim {
  display: flex;
  justify-content: flex-end;
}

.todo {
  width: 100%;
}

.mae_detalhes {
  height: 1px;
  width: 99.8%;
  background-color: #bdbdbd;
}

.center {
  display: flex;
  justify-content: center;
}

.bc {
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
}

.center2 {
  display: flex;
  justify-content: center;
}

.cd {
  background-color: white;
  width: 80%;
  position: relative;
  font-family: 'Raleway', sans-serif;
  padding: 20px;
}

.de {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  width: 60%;
  float: left;
  margin: 5px;
}

.ef {
  font-size: 30px;
}

.fg {
  font-size: 17px;
}

.gh {
  position: relative;
  top: -30px;
  z-index: 0!important;
}

.hi {
  padding-top: 15px;
}

.ij {
  margin-top: 5px;
}

.limpar {
  clear: both;
}

.pf {
  display: flex;
  justify-content: center;
  color: #311b92;
}

.kl {
  width: 100%;
  margin: 7px;
  display: flex;
  justify-content: center;
}

.lm {
  width: 300px;
  height: 150px;
  float: left;
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: orange;
  font-family:  'Montserrat', sans-serif;
  color: grey
}

.image img {
  height: 300px;
  width: 400px;
}

.contact button {
  color: #fff;
  padding: 20px;
  background-color: #0097a7;
  font-weight: bold;
  border-radius: 4px;
  border: initial;
  display: flex;
  align-items: center;
}

.contact button i {
  margin-right: 10px;
}

.contact button:hover {
  cursor: pointer;
}

.featured {
  background-color: #eee;
}

.featured {
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 5px;
}

.featured span {
  background-color: #fff;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h5 {
  background-color: #512da8;
  color: #fff;
  font-weight: bold!important;
  font-size: 30px;
  height: auto;
}

.explanation {
  background-color: #5e35b1;
  margin-top: 0;
  font-size: 20px;
}

.description {
  line-height: 24px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

.rating-title {
  margin-top: 0;
  padding: 10px;
  background-color: #5e35b1;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
}

.rating-body {
  margin: 10px;
}

.rating, .binder {
  border: thin solid #5e35b1;
}

.binder {
  margin-top: 10px;
}

#hasFavorited {
  background-color: rgb(141, 153, 37);
}

#hasFavorited:hover, .isNotLogged:hover {
  cursor: initial!important;
}

.isNotLogged {
  background-color: #ddd!important;
  color: #000!important;
}

#local-agency {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

#local-agency img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

#local-agency p {
  font-size: 28px;
  margin-left: 10px;
}
