.redirect {
  background-color: #0097a7;
  color: #fff!important;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  width: 100%;
}

.attributes {
  margin-left: 10px;
  margin-right: 10px;
}

.attributes li {
  margin-top: 5px;
  margin-bottom: 5px;
}
