form div#info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

form div#info img {
  height: 100px;
  width: 100px;
  border: thick solid #4527a0;
  border-radius: 50%;
  margin-right: 10px;
}

form button {
  background-color: #0097a7;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border: initial;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

form button:hover {
  background-color: #0bb6c9;
  cursor: pointer;
}
