.filter {
  margin: 40px;
  float: left;
  border-radius: 7px;
}

.sub_filter {
  display: flex;
  justify-content: center;
  width: 100%;
}

.font {
  font-family: 'Mitr', sans-serif;
  font-size: 30px;
  color: #311b92;
  text-align: center;
}

.text {
  width: 100%;
}

.limpar {
  clear: both;
}
.img_div {
  width: 484px; 
  height: 260px;
  border-radius: 9px;
}

.p_div_filter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Mitr', sans-serif;
  font-size: 30px;
  font-size: 30px;
  color: white;

}
.p_div_center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
}

.flip-container {
  perspective: 1000;
}  	

.flip-container:hover .flipper, .flip-container.hover .flipper {  		
  transform: rotateY(180deg);
}    
  
.flip-container, .front, .back {  	
  width: 484px;  	
  height: 260px;
  border-radius: 9px;
}

.flipper {  	
  transition: 0.6s;  	
  transform-style: preserve-3d;    	
  position: relative;
}

.front, .back {  	
  backface-visibility: hidden;    	
  position: absolute;  	
  top: 0;  	
  left: 0;
}

.front {
  z-index: 2;
}    

.back {
  transform: rotateY(180deg);
  background-color: #f5f5f5;
}

.font_div_back_titulo {
  font-family: 'Mitr', sans-serif !important;
  font-size: 30px !important;
  color: #311b92 !important;
}

.font_div_back_text {
  font-family: 'Open Sans', sans-serif; color: grey;
}

.botao {
  position: absolute;
  margin-top: -60px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.span_card {
  width: 100%;
  background-color: black;
  height: 50px;
  position: fixed;
}

.card_img {
  height: 180px;
}

.font_filter {
  font-family: 'Nunito', sans-serif;
}

img {
  object-fit: cover;
  object-position: center;
}
