
* {
  margin: 0;
  padding: 0;
}

.filter {
  margin: 40px;
  float: left;
  border-radius: 7px;
}

.sub_filter {
  display: flex;
  justify-content: center;
  width: 100%;
}

.font {
  font-family: 'Mitr', sans-serif;
  font-size: 30px;
  color: #311b92;
  text-align: center;
}
.text {
  width: 100%;
}

.limpar {
  clear: both;
}
.img_div {
  width: 484px; 
  height: 260px;
  border-radius: 9px;
}

.p_div_filter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Mitr', sans-serif;
  font-size: 30px;
  font-size: 30px;
  color: white;

}
.p_div_center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.fl {
  float: left;
}

.flex {
  display: flex;
  justify-content: center;
}

/* O container geral define a perspectiva */
.flip-container {
  perspective: 1000;
}  	

/* vira os containers frente e verso quando o mouse passa em cima */
.flip-container:hover .flipper, .flip-container.hover .flipper {  		
  transform: rotateY(180deg);
}    
  
.flip-container, .front, .back {  	
  width: 484px;  	
  height: 260px;
  border-radius: 9px;
}

/* define a velocidade da transição */
.flipper {  	
  transition: 0.6s;  	
  transform-style: preserve-3d;    	
  position: relative;
}
    
/* esconde o verso durante a animação */
.front, .back {  	
  backface-visibility: hidden;    	
  position: absolute;  	
  top: 0;  	
  left: 0;
}
    
/* frente posicionada sobre o verso */
.front {
  z-index: 2;
}    

/* verso inicialmente escondido */
.back {
  transform: rotateY(180deg);
  background-color: #f5f5f5;
}
        
.tamanho_card {
  width: 320px;
}

.font_div_back_titulo {
  font-family: 'Mitr', sans-serif !important;
  font-size: 30px !important;
  color: #311b92 !important;
}

.font_div_back_text {
  font-family: 'Open Sans', sans-serif; color: grey;
}

.botao {
  position: absolute;
  margin-top: -60px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.span_card {
  width: 100%;
  background-color: black;
  height: 50px;
  position: fixed;
}

.card_img {
  height: 180px;
}

.font_filter {
  font-family: 'Nunito', sans-serif;
}

/* MEDIA QUERY */

/* CELULAR DE PÉ */
@media screen and (max-width: 450px) 
{
}

/* CELULAR DEITADO */
@media screen and (min-width: 451px) and (max-width: 650px) 
{
}

/* TABLET DE PÉ */
@media screen and (min-width: 651px) and (max-width: 960px) 
{
}

/* CSS dos filtros */

.intercambios {
  width: 80%;
  height: 300px;
  background-color: white;
  text-align: center;
}

.intercambios_bigdiv {
  display: flex;
  justify-content: center;
  background-color: blue;
  width: 80%;
  height: 400px;
}