<<<<<<< HEAD
#wrapper {
  width: 50%;
  margin: auto;
  border: thin solid #1565c0;
  margin-top: 100px;
  padding-top: 0;
}

#wrapper h5 {
  margin-top: 0;
}

#wrapper form {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#wrapper button {
  background-color: #512da8;
  color: #fff;
  font-weight: bold;
  font-size: 26px;
  padding: 10px;
  width: 25%;
  border: initial;
  border-radius: 4px;
  margin-top: 10px;
  align-self: flex-end
}
=======
#wrapper {
  width: 50%;
  margin: auto;
  border: thin solid #1565c0;
  margin-top: 100px;
  padding-top: 0;
}

#wrapper h5 {
  margin-top: 0;
}

#wrapper form {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#wrapper button {
  background-color: #512da8;
  color: #fff;
  font-weight: bold;
  font-size: 26px;
  padding: 10px;
  width: 25%;
  border: initial;
  border-radius: 4px;
  margin-top: 10px;
  align-self: flex-end
}
>>>>>>> d7340d23752bdaf5024eaed13b27def1447c9a3b
